doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(href='/css/foo.css', rel='stylesheet')

	body
		nav
			ul
				li 
					a(href='/translate') Translate
				li 
					a(href='/quiz') Quiz
				li 
					a(href='/progress') Progress
				
		block content
		
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='/main.js')
		
		
		
		
 
