extends layout

block content
    h1 Translate
    
    p Please select the language you would like to translate from and to.
    
    section
        form
            select#langa
                option English
                option Spanish
            
            
            select#langb
                option Spanish
                option English
                
            textarea#words
            
            input.btn(type="submit", id="submit" value="Translate")
